table#products
  border: 1px solid #ccc
  border-radius: 4px

  margin-top: 16px
  padding: 4px 8px

  tr
    td
      background-color: rgba(255, 255, 255, 0.75)

      padding: 8px

      a
        font-weight: bold

      span.brand, span.supplier_number, span.net_price
        color: #808080

      span.number, span.gross_price
        font-weight: bold

    td:not(:last-child)
      padding-right: 32px

    td:last-child
      text-align: right

  tr:not(:last-child)
    td
      border-bottom: 1px solid #ccc



form.new_product, form.edit_product
  input[type=file]:not(.first)
    display: block
    margin-left: 205px

  img:first-child
    margin-left: 204px

  img
    vertical-align: middle
