*
  outline: none



body
  font: 11pt tahoma, verdana, sans-serif

  margin: 0



a.delete
  color: #f00 !important



div#content
  margin-left: 192px
  padding: 16px 32px

  a
    color: #f80
    text-decoration: none

    &:hover
      text-decoration: underline

  ul#breadcrumbs
    margin: 0 0 16px 0
    padding-left: 0

    li
      display: inline

      &:not(:last-child):after
        content: ' > '

      &:last-child
        font-weight: bold
