*
  outline: none



body
  font: 11pt tahoma, verdana, sans-serif

  margin: 0



nav
  background-color: #eee

  float: left
  margin-top: 0

  width: 192px

  > ul
    list-style: none

    margin-top: 0
    padding-left: 0
    width: 100%

    > li
      border-bottom: 1px solid #e4e4e4
      border-top: 1px solid #fff

      &.active
        > a
          background-color: #808080
          color: #fff

          &:hover
            background-color: #808080

      > a
        color: #f80

        display: block
        padding: 8px 16px 8px 32px

        &:hover
          background-color: #e4e4e4

      ul
        background-color: #fff

        list-style: none
        padding: 4px 0 4px 0

        li
          &.active
            a
              color: #333
              font-weight: bold
          a
            color: #f80
            font-size: 9pt

            display: block
            padding: 4px 16px

            &:hover
              background-color: #fff0e0
              color: #333

            span
              background-color: #808080
              color: #fff
              border-radius: 16px
              font-size: 8pt
              font-weight: normal

              float: right
              padding: 1px 4px 0 4px
              margin-left: 4px

  a
    text-decoration: none



div#notice, div#error
  padding: 8px 16px
  margin: 0 16px 16px 192px + 16px
  border:
    style: solid
    width: 0 1px 1px 1px



div#notice
  background-color: #cec
  border-color: #408040



div#error
  background-color: #ecc
  border-color: #804040
        


div#content
  margin-left: 192px
  padding: 16px

  a
    color: #f80
    text-decoration: none

    &:hover
      text-decoration: underline

  table
    border: 1px solid #e4e4e4
    border-collapse: collapse

    margin-top: 16px

    tr
      &:nth-child(2n)
        background-color: #eee

      td
        a
          display: block
          padding: 2px 4px


  form
    fieldset
      border:
        color: #808080
        width: 0 0 1px 0
      
      margin-bottom: 8px
      padding-bottom: 16px

      &:last-child
        border-width: 0

      &.advanced
        ol
          margin-top: 16px

      ol
        list-style: none
        padding-left: 0
        margin: 0

        li
          label:first-child
            text-align: right
            vertical-align: middle

            display: inline-block
            padding-right: 8px
            width: 192px

            &.required:after
              color: #f00
              content: ' *'

          input[type=text], textarea
            width: 384px

          textarea
            font-size: 11pt
            vertical-align: middle

            height: 2.5em

            &:focus
              height: 10em

          input[type=radio]:not(:first-child)
            margin-left: 16px

          input[type=checkbox], input[type=radio]:first-child
            margin-left: 204px


          input[type=number]
            width: 96px

          div.field_with_errors
            display: inline

            label
              color: #f00

            input
              box-shadow: 0 0 2px #f00

          input#shop_name
            font-weight: bold

      a[href='#advanced']
        display: block

      input[type=submit]
        margin-left: 204px
        margin-right: 16px
