<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Categories</li>
</ul>

<%= link_to 'New category', new_admin_shop_category_path(@shop) %>

<table>
  <% nested(@categories).each do |category| %>
    <tr>
      <td>
        <%= link_to category.path, edit_admin_shop_category_path(@shop, category) %>
      </td>
    </tr>
  <% end %>
</table>
