<%= link_to 'New category', new_admin_shop_category_path(@shop) %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Parent</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </tbody>
</table>
