<%= form_for ['admin', @shop, @access_group] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
