$color: #e80

body
  background-color: #eee

  color: #666
  font: 10pt arial

  margin: 0



a
  color: $color
  text-decoration: none

  &:hover
    text-decoration: underline



div.content
  margin: auto
  width: 750px



div#header
  color: #fff
  background-color: #333

  padding: 20px 0



div#nav
  background-color: $color
  border-top: 3px solid #fff
  border-bottom: 3px solid #fff

  padding-top: 4px

  ul
    list-style: none
    margin: 0
    padding-left: 0

    li
      display: inline-block

      a
        color: #fff
        font-size: 13pt
        font-weight: bold
        text-decoration: none
        text-transform: uppercase

        display: block
        padding: 4px 16px 8px 16px

        &:hover
          color: #333



div#content
  background-color: #fff
  border-top: 5px solid $color
  border-bottom: 1px solid $color

  margin: 16px auto
  padding: 16px
  width: 718px



div#footer
  color: #999
  font-size: 8pt
