$color: #e80

body
  background-color: #eee

  color: #666
  font: 11pt arial

  margin: 0



a
  color: $color
  text-decoration: none

  &:hover
    text-decoration: underline



div.content
  position: relative
  margin: auto
  width: 750px



div#header
  color: #fff
  background-color: #333

  padding: 20px 0

  span
    text-align: right

    position: absolute
    right: 0



div#nav
  background-color: $color
  border-top: 3px solid #fff
  border-bottom: 3px solid #fff

  padding-top: 4px

  ul
    list-style: none

    margin: 0
    padding-left: 0

    ul
      background-color: #fff
      border: 1px solid #ddd

      a
        font-size: 9pt

  div.content > ul
    > li
      display: inline-block

      > a
        color: #fff
        font-size: 13pt
        font-weight: bold
        text-decoration: none
        text-transform: uppercase

        display: block
        padding: 4px 16px 8px 16px

        &:hover
          color: #666

        &.active
          color: #666
          background-color: #fff

      ul
        display: none
        position: absolute
        white-space: nowrap

      > ul li:hover > ul
        display: block
        margin-top: -23px
        margin-left: 100%

      &:hover
        > ul
          display: block

    ul a
      display: block
      padding: 4px 24px 4px 8px
        



div#content
  background-color: #fff
  border-top: 5px solid $color
  border-bottom: 1px solid $color

  margin: 16px auto
  padding: 16px
  width: 718px
  min-height: 200px

  table#products
    border-collapse: separate
    border-spacing: 16px

    text-align: center

    margin: -8px 0
    width: 100%

    td.product
      border: 1px solid #ddd
      border-radius: 8px
      box-shadow: 2px 2px 4px #888

      vertical-align: middle

      padding-bottom: 8px
      width: 33%

      table.image
        height: 216px
        margin-bottom: 8px
        width: 100%

        td
          text-align: center

          img
            margin-top: 4px

      span.name
        font-size: 13pt
        font-weight: bold

        display: block

  h1
    margin: 0 0 0 0
    font-size: 18pt

  h2
    margin: 0

  div#product
    margin-left: 224px

    a#image
      float: left
      margin-left: -224px

    div#text
      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd

      margin: 16px 0
      padding: 16px 0

    div#price
      font-size: 13pt
      font-weight: bold
      text-align: right

      margin-top: 16px
      margin-bottom: 16px

    div.options
      margin-bottom: 16px

      select
        float: right
        margin-top: -4px

  form#new_user
    fieldset
      border: 0

      margin: 48px 64px
      padding: 0

      ol
        list-style: none

        margin: 0
        padding-left: 0

        li
          margin-bottom: 8px

          label
            text-align: right

            display: inline-block
            margin-right: 16px
            width: 192px

      > input
        margin-left: 432px



div#cart
  background-color: #fff
  border-top: 5px solid $color
  border-bottom: 1px solid $color

  text-align: right

  margin: 16px auto
  padding: 16px
  width: 718px

  h1
    font-size: 13pt
    text-align: left
    
    margin-top: 0
  
  table
    border-collapse: collapse

    margin-bottom: 16px
    width: 100%

    thead
      background-color: $color

      th
        color: #fff
        text-align: left

    th, td
      text-align: left
      padding: 2px 4px

    th.number, td.number
      text-align: right

    tbody
      tr:nth-child(2n)
        background-color: #eee


div#footer
  color: #999
  font-size: 8pt
